<% layout("/layouts/boilerplate") %>
<style>
    .icons_and_taxes{
        margin-top: 1rem;
        display: flex;
        overflow-x: hidden;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        border-bottom: 3px solid black;
        border-radius: 1rem;
        padding-left: 7px;
        
           
    }
    .icons-container {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 1rem;
        color: black;
        width: 70%;
        
    }
    .filters{
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        
    }
    .filters::-webkit-scrollbar {
        display: none;
      }
      
    .scroll-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border: none;
        cursor: pointer;
        z-index: 1;
        border: 1px solid gray;
        border-radius: 50%;
    }
    .scroll-button:hover{
      box-shadow: 0px 0px 20px white;
    }
    .fa-angle-left,.fa-angle-right{
        font-size: 1.2rem;
        
    }
    
    .filter{
        flex: 0 0 auto;
        padding: 10px;
        text-align: center;
        white-space: nowrap;   
        margin: 5px;
        font-size: 0.9rem;
        opacity: 0.8;
        cursor: pointer;
    }
    .filter:hover{
        opacity: 1;
    }
    
    .left{
        position: absolute;
        left: 0;
    }

    .right {
        position: absolute;
        right: 0 ;
    }
    .switch-taxes{
       
        font-size: 1rem;
        justify-content: center;

    }
    .switchSecion{
        border: 1px solid black;
        box-shadow: 0px 0px 6px  black;
        color: white;
        height: 4rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3rem;
        margin-left: 5rem;
        font-weight: 400;
        overflow: hidden;
       
    }
    .switchSecion input{
        box-shadow: 0px 0px 6px  black
    }
    .info-taxes{
        display: none;
    }
    @media (max-width: 768px) {
        .icons_and_taxes {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .icons-container {
            margin-bottom: 10px;
        }
    
        .switchSecion {
            justify-content: center;
            padding: 1rem;
            margin-bottom: 1rem;
        }
    }
    
    @media (max-width: 480px) {
        .icons_and_taxes {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .filter p {
            font-size: 12px;
        }
    
        .scroll-button {
            font-size: 20px;
        }
        .switchSecion {
            justify-content: flex-end;
            padding: 0.5rem;
            margin-bottom: 1rem;
        }
    }
</style>
    <!-- <h3>All Listings</h3> -->
    <div class="icons_and_taxes   ">
        <div class="icons-container">
            <button class="scroll-button left" id="scrollLeftButton"><i class="fa-solid fa-angle-left"></i></button>
            <div class="filters" id="iconScroll">
                
                <div class="filter">
                    <i class="fa-solid fa-fire"></i>
                    <p>Trending</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-cow"></i>
                    <p>Farms</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-fire"></i>
                    <p>Mountains</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-bed"></i>            
                    <p>Rooms</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-person-swimming"></i>
                    <p>Amazing Pool</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-tree"></i>
                    <p>Tropical</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-umbrella-beach"></i>
                    <p>Beach</p>
                </div>
                <div class="filter">
                    <i class="fa-brands fa-fort-awesome"></i>
                    <p>Castles</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-ship"></i>
                    <p>Boats</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-kitchen-set"></i>
                    <p>Chef kitchen</p>
                </div>
                
                <div class="filter">
                    <i class="fa-brands fa-fort-awesome"></i>
                    <p>House boats</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-house-chimney-window"></i>
                    <p>Camping</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-mug-hot"></i>
                    <p>Bed Breakfast</p>
                </div>
            </div>
            <button class="scroll-button right" id="scrollRightButton" ><i class="fa-solid fa-angle-right"></i></button>
        </div>

        <!-- switch section -->
        <div class="switchSecion ">
            <div class="form-check-reverse form-switch  switch-taxes">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total Taxes</label>
            </div>
        </div>
        
    </div>
    

    <div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 allListings" >
        <% for(let listing of allListings){ %> 
            <a href="/listings/<%= listing._id %>" class="listingCard">
                <div class="col card listing-card"  >
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style = "height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <b><p class="card-text"><%= listing.title %></p></b>
                      <p class="card-text">₹<%= listing.price.toLocaleString("en-IN") %> /night &nbsp;&nbsp; <i class="info-taxes">+18% GST</i></p>
                    </div>
                </div>
            </a>
        <% }%>
    </div>
    


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const scrollLeftButton = document.getElementById('scrollLeftButton');
        const scrollRightButton = document.getElementById('scrollRightButton');
        const iconScroll = document.getElementById('iconScroll');
    
        scrollLeftButton.addEventListener('click', function () {
            iconScroll.scrollBy({
                left: -200, // Adjust the value to scroll more or less
                behavior: 'smooth'
            });
        });
    
        scrollRightButton.addEventListener('click', function () {
            iconScroll.scrollBy({
                left: 200, // Adjust the value to scroll more or less
                behavior: 'smooth'
            });
        });
    });

    

</script>

<script>
    // switch toggle logic
    const toggleSwitch = document.getElementById("flexSwitchCheckDefault");
    toggleSwitch.addEventListener("click", function () {
        let info_taxes = document.getElementsByClassName("info-taxes");
        for(info of info_taxes){
            if(info.style.display != "inline"){
                info.style.display = "inline";
            }
            else{
                info.style.display = "none";
            }
        }
    });
</script>